/****** 颜色 ******/
$primary-color: #608DFF; // 主色
$danger-color: #FF3142; // 错误色
$white-color: #fff; // 白色
$main-font-color: #333; // 字体主色
$minor-font-color: #666; // 字体次要内容颜色
$desc-font-color: #999; // 字体描述性、输入标题颜色
$hr-color: #EDEDED; // 分割线
$bg-color: #F3F5F9; // 背景色
$gray-color: #DCDFE8; // 置灰色

/****** 宽度 ******/
$page-space: 16px; // 页面与内容之间的左右边距

/****** z-index ******/
$pay-record-list-header-z-index: 2000;
$income-detail-header-z-index: 100;
